/* Loading spinner */
mat-spinner {
  margin: 0 auto;
}

/* Full width */
.w-100 {
  width: 100% !important;
}

/* Files container */
.files-container {
  position: relative;
  min-height: 100px;
}

/* No files card */
app-info-card {
  display: grid;
  height: 150px;
  align-items: center;
}

/* Search file */
mat-form-field {
  text-align: center;
}

/* Loading backdrop */
.loading-backdrop {

  position: absolute;
  width: calc(100% - 30px);
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;

  mat-spinner {
    top: calc(50% - 50px);
  }

}

/* File icon container */
.file-icon-container {

  display: flex;
  margin: 0 auto;
  padding: 10px;
  cursor: pointer;

  mat-icon {
    display: block;
    margin: 0 auto;
    height: 50px;
    width: 50px;
    font-size: 50px;
  }

}
