<!-- Page title and description -->
<h1 class="mat-display-1">{{ (menuItem$ | async).displayName }}</h1>
<p>{{ (menuItem$ | async).description }}</p>
<mat-divider></mat-divider>
<br/>


<!-- Whole content -->
<mat-tab-group [selectedIndex]="0" class="flex-labels">

  <!-- File viewer -->
  <mat-tab label="Przeglądaj pliki">

    <!-- Search -->
    <div class="row">
      <div class="col-12">
        <mat-form-field class="w-100">
          <mat-icon matPrefix>search</mat-icon>
          <input autocomplete="off" matInput placeholder="" [formControl]="fileNameControl">
          <button mat-button *ngIf="fileNameControl.value" matSuffix mat-icon-button aria-label="Clear"
                  (click)="fileNameControl.setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>
    </div>

    <!-- Files -->
    <div class="row files-container" *ngIf="filesData$ | async as filesData; else loadingFilesTemplate">

      <!-- Loading backdrop -->
      <div class="loading-backdrop" *ngIf="showLoadingBackdrop">
        <mat-spinner></mat-spinner>
      </div>

      <!-- No files -->
      <div class="col-12" *ngIf="!hasFiles(filesData.values)">
        <app-info-card type="accent" text="Brak plików"></app-info-card>
      </div>

      <!-- Files list -->
      <ng-container *ngFor="let file of filesData.values">
        <div class="col-lg-2 col-md-3 col-6" *ngIf="!file.isDeleted">
          <button class="file-icon-container" mat-button [matMenuTriggerData]="{element: file}"
                  [matMenuTriggerFor]="fileContextMenu">
            <mat-icon color="primary">insert_drive_file</mat-icon>
            <span>{{ file.name | truncateText : 20 : ' ...' }}</span>
          </button>
        </div>
      </ng-container>

    </div>
    <!-- /Files -->

    <br/>

    <!-- Paginator -->
    <div class="row">
      <div class="col-12">
        <app-paginator
          [state]="filesData$ | async"
          (stateChange)="onPaginatorStateChange($event)">
        </app-paginator>
      </div>
    </div>

  </mat-tab>
  <!-- /File viewer -->


  <!-- Upload files -->
  <mat-tab [disabled]="!(uploadFilesDefinition$ | async)?.allowUpload" label="Wgraj pliki">

    <!-- Upload button -->
    <button mat-raised-button (click)="fileControl.click()" color="primary" class="w-100 mt-2">
      Wgraj
    </button>
    <input type="file" #fileControl class="d-none" multiple="multiple"
           (change)="onFileControlValueChange($event.target)"/>

    <!-- Currently uploaded files -->
    <div class="row">
      <div class="col-12 mt-2" *ngFor="let fileData of currentlyUploadedFiles">

        <mat-card>
          <div>Nazwa pliku: {{ fileData.name }}</div>
          <div>Rozmiar pliku: {{ fileData.size }} bajtów</div>
          <mat-progress-bar
            mode="determinate"
            [color]="fileData.progress===false
              ? 'warn'
              : fileData.progress===true
                ? 'primary'
                : 'accent'
            "
            [value]="fileData.progress===true || fileData.progress===false ? 100 : fileData.progress">
          </mat-progress-bar>
        </mat-card>

      </div>
    </div>

  </mat-tab>
  <!-- /Upload files -->


  <!-- Downloaded files -->
  <mat-tab label="Pobieranie" *ngIf="currentlyDownloadedFiles.length > 0">
    <div class="row">
      <div class="col-12 mt-2" *ngFor="let fileData of currentlyDownloadedFiles">
        <mat-card class="currently-downloaded">

          <!-- Title and save button -->
          <div class="row">
            <div class="col-8">
              Nazwa pliku: {{ fileData.name }}
            </div>
            <div class="col-4">
              <button mat-icon-button color="primary" [disabled]="fileData.progress!==true"
                      (click)="onFileSaveButtonClick(fileData)">
                <mat-icon>save</mat-icon>
              </button>
            </div>
          </div>

          <!-- Progress bar -->
          <mat-progress-bar
            mode="determinate"
            [color]="fileData.progress===false
              ? 'warn'
              : fileData.progress===true
                ? 'primary'
                : 'accent'
            "
            [value]="fileData.progress===true || fileData.progress===false ? 100 : fileData.progress">
          </mat-progress-bar>

        </mat-card>
      </div>
    </div>
  </mat-tab>


</mat-tab-group>
<!-- /Whole content -->


<!-- File context menu -->
<mat-menu #fileContextMenu="matMenu">
  <ng-template matMenuContent let-element="element">
    <button mat-menu-item (click)="onFileRenameButtonClick(element)">
      <mat-icon>edit</mat-icon>
      <span>Zmień nazwę</span>
    </button>
    <button mat-menu-item [disabled]="!element.downloadable" (click)="onFileDownloadButtonClick(element)">
      <mat-icon>save</mat-icon>
      <span>Pobierz</span>
    </button>
    <button mat-menu-item [disabled]="!element.deletable" (click)="onFileDeleteButtonClick(element)">
      <mat-icon>delete</mat-icon>
      <span>Usuń</span>
    </button>
  </ng-template>
</mat-menu>


<!-- Loading template -->
<ng-template #loadingFilesTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
