<!-- Background -->
<div class="background"></div>

<!-- Container -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-md-6 offset-md-3">

            <!-- Title -->
            <h1 class="mat-display-2">Database Manager</h1>

            <!-- Sign in card -->
            <mat-card>

                <!-- Header -->
                <div class="card-header">
                    <i class="material-icons">account_circle</i>
                    <h1 class="mat-h1">Logowanie</h1>
                </div>

                <!-- Content -->
                <div class="card-body mb-2">
                    <app-dynamic-form
                            autocomplete="off"
                            submitButtonText="Zaloguj"
                            [controlsConfiguration]="controlsConfiguration"
                            (formSubmit)="onFormSubmitHandler($event)"
                    >
                    </app-dynamic-form>
                </div>

                <!-- Footer -->
                <div class="card-footer row mt-3">
                    <div class="col-12 d-flex">
                        <button type="button" class="flex-fill mr-16" mat-raised-button routerLink="new">
                            Nowe konto
                        </button>
                        <button type="button" class="flex-fill" mat-raised-button routerLink="forgot-password">
                            Przypomnij hasło
                        </button>
                    </div>
                </div>

            </mat-card>
            <!-- /Sign in card -->

        </div>
    </div>
</div>
<!-- /Container -->
