<!-- Page title and description -->
<h1 class="mat-display-1">{{ (menuItem$ | async).displayName }}</h1>
<p>{{ (menuItem$ | async).description }}</p>
<mat-divider></mat-divider>
<br/>

<!-- Action list -->
<mat-tab-group [(selectedIndex)]="activeGridState" class="mat-tab-header-display-none">

  <!-- Action list -->
  <mat-tab [label]="EGridState.ActionList">
    <app-action-list
      [showLoadingBackdrop]="isLoading"
      [allowAdding]="(gridDefinition$ | async)?.allowAdding"
      [actionListItems$]="actionListItems$"
      (action)="onActionListItemClickHandler($event)">
    </app-action-list>
    <app-paginator
      class="mt-16"
      [state]="paginatorState"
      (stateChange)="paginatorStateChange$.next($event)"
    ></app-paginator>
  </mat-tab>

  <!-- Add form -->
  <mat-tab [label]="EGridState.AddForm">
    <button
      class="cancel-button"
      color="accent"
      mat-raised-button
      (click)="activeGridState=EGridState.ActionList">
      Anuluj
    </button>
    <app-dynamic-form
      [autocomplete]="'off'"
      [submitModeEnabled]="isLoading"
      (formSubmit)="actionListItemAdd$.next($event)"
      [controlsConfiguration]="activeFormControlsConfiguration">
    </app-dynamic-form>
  </mat-tab>

  <!-- Edit form -->
  <mat-tab [label]="EGridState.EditForm">
    <button
      class="cancel-button"
      color="accent"
      mat-raised-button
      (click)="activeGridState=EGridState.ActionList">
      Anuluj
    </button>
    <app-dynamic-form
      [autocomplete]="'off'"
      [submitModeEnabled]="isLoading"
      (formSubmit)="actionListItemEdit$.next($event)"
      [controlsConfiguration]="activeFormControlsConfiguration">
    </app-dynamic-form>
  </mat-tab>

</mat-tab-group>
