<!-- Add button -->
<button
  mat-flat-button
  [disabled]="!allowAdding"
  color="primary"
  class="add-button mb-16 w-100"
  (click)="onAddButtonClickHandler()"
>
  Dodaj nowy
</button>


<!-- Container -->
<ng-container *ngIf="listItems$ | async as actionListItems; else loadingSpinnerTemplate">

  <!-- No data info -->
  <app-info-card
    *ngIf="actionListItems.length===0"
    type="accent"
    text="Brak dostępnych danych"
  ></app-info-card>

  <!-- Action list -->
  <mat-accordion class="no-inner-padding" *ngIf="actionListItems.length > 0">

    <!-- Loading backdrop -->
    <div class="loading-backdrop" *ngIf="showLoadingBackdrop">
      <mat-spinner></mat-spinner>
    </div>

    <!-- Element wrapper -->
    <mat-expansion-panel *ngFor="let listItem of actionListItems">

      <!-- Element header -->
      <mat-expansion-panel-header disabled class="primary-on-expand">

        <!-- Title -->
        <mat-panel-title>{{ listItem.headerTitle }}</mat-panel-title>

        <!-- Description -->
        <mat-panel-description>{{ listItem.headerDescription }}</mat-panel-description>

      </mat-expansion-panel-header>
      <!-- /Element header -->

      <!-- Action buttons -->
      <mat-action-row class="w-100">
        <div class="col-6">
          <button
            mat-flat-button
            [disabled]="!listItem.editable"
            color="primary"
            class="w-100"
            (click)="onEditButtonClickHandler(listItem)"
          >
            <mat-icon>edit</mat-icon>
          </button>
        </div>
        <div class="col-6">
          <button
            mat-flat-button
            [disabled]="!listItem.deletable"
            color="warn"
            class="w-100"
            (click)="onDeleteButtonClickHandler(listItem)"
          >
            <mat-icon>delete_forever</mat-icon>
          </button>
        </div>
      </mat-action-row>
      <!-- /Action buttons -->

      <!-- Element base-details -->
      <app-details-list [detailsData]="listItem.details"></app-details-list>
      <!-- /Element base-details -->

    </mat-expansion-panel>
    <!-- /Element wrapper -->

  </mat-accordion>
  <!-- /Action list -->

</ng-container>
<!-- /Container -->


<!-- Loading spinner -->
<ng-template #loadingSpinnerTemplate>
  <mat-spinner></mat-spinner>
</ng-template>
